body {
  background: #222;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.card {
  background: #333;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #555;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #777;
}